#bricks-panel-elements li[data-element-name*="max-"]:after,
#bricks-structure .structure-item > .title .max-element:after,
[data-control-group^='mab'] .control-group-title:after {
  background: var(--builder-bg-2);
  border-bottom-right-radius: 4px;
  color: var(--builder-color);
  content: "MAX";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: Roboto,Arial,Helvetica,Verdana,sans-serif;
  font-size: 8px;
  position: absolute;
  height: 18px;
  width: 28px;
  z-index: 1; }

#bricks-panel-elements li[data-element-name*="max-"]:after {
  border-top-left-radius: 4px;
  top: 1px;
  left: 1px; }

#bricks-panel-elements li[data-element-name*="max-"]:hover:after,
#bricks-structure .element.active > .structure-item > .title .max-element:after,
#bricks-structure .structure-item:hover > .title .max-element:after {
  background: var(--builder-bg-2); }

#bricks-structure .structure-item > .title .max-element:after,
[data-control-group^='mab'] .control-group-title:after {
  border-top-right-radius: 4px;
  top: 50%;
  right: 5px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }

[data-control-group^='mab'] .control-group-title:after {
  right: 40px; }

[data-control-group^='mab'].open .control-group-title:after,
[data-control-group^='mab']:hover .control-group-title:after {
  background: var(--builder-bg); }

.bricks-panel-controls div[data-controlkey$="Separator"] {
  padding: 0 0 10px 0; }

.bricks-panel-controls div[data-controlkey$="onPageLoad"] {
  margin-top: 18px; }

[data-control=conditions] .item textarea {
  background-color: var(--builder-bg-3); }
